* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

div.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

                                                /* Header - 1 */

div.header-1 {
    background-color: #f4f4f4;
}

div.hd-link-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

div.prt-left {
    padding: 0 15px;
    max-width: 66%;
    width: 100%;
}

div.prt-left div a {
    display: inline-block;
    font-size: 12px;
    color: #707070;
}

div.prt-left div a i {
    color: #00aeef;
    margin-right: 5px;
}

div.prt-left div a:last-child {
    margin-left: 30px;
}

div.prt-right div a {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    text-align: right;
    transition: 0.5s all;
}

div.prt-right div a:hover {
    color: #00aeef;
}

                                                /* Header - 2 */

nav {
    height: 90px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a.header-logo {
    font-size: 26px;
    font-weight: 500;
    color: #565656;
    display: inline-block;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
} 

div.classy-nav {
    display: flex;
    align-items: center;
}

ul.nav li {
    display: inline-block;
    z-index: 10;
}

ul.nav li a {
    padding: 0 15px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: 35px;
    line-height: 34px;
    text-align: start;
}

ul.nav li.dropdown-item {
    position: relative;
    z-index: 10;
}

ul.dropdown {
    width: 180px;
    position: absolute;
    background-color: #ffffff;
    top: 120%;
    left: 0;
    z-index: 100;
    height: auto;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    transition-duration: 300ms;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    display: none;
}

ul.dropdown li{
    display: block;
    position: static;
}

li.has a {
    font-size: 12px;
    text-transform: capitalize;
}

li.has ul.down {
    top: 10px;
    left: 180px;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
}

ul.nav li.has-down:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

li.has a {
    font-size: 12px;
    text-transform: capitalize;
}

li.has ul.down {
    top: 10px;
    left: 180px;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

ul.dropdown li {
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
}

li.has:hover ul.down {
    opacity: 1;
    visibility: visible;
    position: absolute;
    height: 160px;
    width: 100%;
    left: 180px;
    padding: 10px 0px;
}

li.has1 ul {
    opacity: 0;
    visibility: hidden;
}

li.has {
    position: relative;
}

li a.general {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 35px;
    line-height: 34px;
    font-weight: 600;
    padding: 0 15px;
    transition: .5s all;
}

div.classy-nav ul li a:hover {
    color: #00aeef;
}

div.classy-nav ul li a:hover i {
    color: #333;
}

nav a.booking-now {
    border: 2px solid #00aeef;
    background-color: #00aeef;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    min-width: 140px;
    height: 40px;
    line-height: 36px;
    font-size: 12px;
    transition-duration: 500ms;
}

nav a.booking-now:hover {
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    color: #00aeef;
}

                                                /* SECTION - 1 */

section.first{
    background-image: url(../img/x12.jpg.pagespeed.ic.xxtlPIASfi.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 200px;
} 

section.first::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #2c455d;
    background: linear-gradient(to right,#2c455d,#00012c);
    opacity: .85;
}

div.service-text {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.service-text h2 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

                                                /* SECTION - 2 */

div.all-second {
    padding: 0 15px;
    position: relative;
}

div.all-second div {
    padding: 30px 0px;
}

div.all-second div ul {
    display: flex;
}

div.all-second div ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

div.all-second div ul li:last-child {
    padding-left: 8px;
}

div.all-second div ul li:last-child i {
    padding-right: 8px;
}

div.all-second div ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 500;
    transition-duration: 500ms;
}

div.all-second div ul li a:hover {
    color: #00aeef;
}

div.all-second div ul li i {
    font-size: 11px;
}

div.all-second div ul li:last-child {
    color: #707070; 
}

                                                /* SECTION - 3 */

section.tird {
    margin: 50px 0px;
}

div.all-stt-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.all-stt-boxs div {
    width: calc(33%);
    max-width: 370px;
    padding: 0 15px;
    position: relative;
    margin-bottom: 50px;
}

div.all-stt-boxs div div {
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

div.all-stt-boxs div div img {
    position: absolute;
    max-height: 35px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.all-stt-boxs div:hover div.i-img {
    box-shadow: 0 2px 50px 0 rgb(0 0 0 / 15%);
}

div.all-stt-boxs div h5 {
    margin-bottom: 15px;
    color: #333;
    line-height: 1.4;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

div.all-stt-boxs div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26.6px;
    margin-bottom: 16px;
    text-align: center;
    color: #707070;
}

                                                /* Section - 4 */

section.for {
    padding: 100px 0px;
}

section.for::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}

div.dentist {
    padding: 0 15px;
}

div.swiper-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.swiper-slide div div.dentist-img {
    max-width: 180px;
    width: 180px;
    margin-right: 30px;
}

div.swiper-slide div div.dentist-img img {
    border: 1px solid transparent;
    border-radius: 50%;
}

div.swiper-slide div div.about-dentist {
    position: relative;
    z-index: 1;
}

div.swiper-slide div div.about-dentist  {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 15px;
    color: #ffffff;
}

div.for-bgimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
}

div.for-bgimg div {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/x7.jpg.pagespeed.ic.WWYqzyT8wB.webp);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1349px;
    height: 377.6px;
    overflow: hidden;
    pointer-events: none;
    margin-top: -0.3px;
    transform: translate3d(0px, 8.0125px, 0px);
}
                                                /* Media's */

@media screen and ( max-width: 992px) {
    div.container {
        max-width: 960px;
    }
    
    div.classy-menu {
        display: none;
    }
    
    div.all-stt-boxs div {
        width: calc(50%);
        max-width: 360px;
        margin-bottom: 0px;
    }
}

@media screen and ( max-width: 768px) {
    div.container {
        max-width: 720px;
    }
    
    div.prt-left span {
        display: none;
    }
    
    div.prt-left div a:last-child {
        margin-left: 15px;
    }
    
    div.prt-right {
        width: 100%;
    }
    
    div.prt-left {
        display: flex;
    }
    
    a.header-logo img {
        width: 90px;
    }
    
    div.all-stt-boxs div {
        max-width: 240px;
    }
}

@media screen and ( max-width: 576px) {
    div.container {
        max-width: 540px;
    }
    
    div.prt-left {
        padding: 0px;
    }
    
    div.all-stt-boxs div {
        width: calc(100%);
        width: 100%;
        max-width: none;
        padding: 0px;
    }
}









































