* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

div.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

                                                /* Header - 1 */

div.header-1 {
    background-color: #f4f4f4;
}

div.hd-link-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

div.prt-left {
    padding: 0 15px;
    max-width: 66%;
    width: 100%;
}

div.prt-left div a {
    display: inline-block;
    font-size: 12px;
    color: #707070;
}

div.prt-left div a i {
    color: #00aeef;
    margin-right: 5px;
}

div.prt-left div a:last-child {
    margin-left: 30px;
}

div.prt-right div a {
    color: #707070;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    text-align: right;
    transition: 0.5s all;
}

div.prt-right div a:hover {
    color: #00aeef;
}

                                                /* Header - 2 */

nav.navy {
    height: 90px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a.header-logo {
    font-size: 26px;
    font-weight: 500;
    color: #565656;
    display: inline-block;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
} 

div.classy-nav {
    display: flex;
    align-items: center;
}

ul.nav li {
    display: inline-block;
    z-index: 10;
}

ul.nav li a {
    padding: 0 14px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: 35px;
    line-height: 34px;
    text-align: start;
}

li a.general {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 35px;
    line-height: 34px;
    font-weight: 600;
    padding: 0 15px;
    transition: .5s all;
}

div.classy-nav ul li a:hover {
    color: #00aeef;
}

div.classy-nav ul li a:hover i {
    color: #333;
}

nav a.booking-now {
    border: 2px solid #00aeef;
    background-color: #00aeef;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    min-width: 140px;
    height: 40px;
    line-height: 36px;
    font-size: 12px;
    transition-duration: 500ms;
}

nav a.booking-now:hover {
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    color: #00aeef;
}

.pg ul {
    width: 180px;
    position: absolute;
    background-color: #fff;
    text-align: start;
    z-index: 10;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    transition-duration: 300ms;
    padding: 10px 0px;
}

.pg ul li a {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0 15px;
    font-weight: 600;
    height: 35px;
    color: #353535;
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
    transition-duration: 300ms;
}

.pg:hover.pg ul.first-sub {
    opacity: 1;
    visibility: visible;
}

li.pg li.has-ul a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.has-ul ul.second-sub {
    width: 180px;
    position: absolute;
    background-color: #fff;
    text-align: start;
    z-index: 10;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    transition-duration: 300ms;
    padding: 10px 0px;
    left: 180px;
    bottom: -100px;
}

li.has-ul ul a {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0 15px;
    font-weight: 600;
    height: 35px;
    color: #353535;
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
    transition-duration: 300ms;
}

li.has-ul:hover ul.second-sub {
    opacity: 1;
    visibility: visible;
}

li.hs-ul ul.blog-sub {
    width: 180px;
    position: absolute; 
    background-color: #fff;
    text-align: start;
    z-index: 10;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    transition-duration: 300ms;
    padding: 10px 0px;
}

li.hs-ul ul.blog-sub li a {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0 15px;
    font-weight: 600;
    height: 35px;
    color: #353535;
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
    transition-duration: 300ms;
}

li.hs-ul ul.blog-sub li a:hover {
    color: #00aeef;
}

li.hs-ul:hover ul.blog-sub {
    opacity: 1;
    visibility: visible;
}

                                    /*!!!!!!!!!!!! 2-rd sub-menu-n piti anes !!!!!!!!!!!!*/

                                                /* SECTION - 1 */

section.first{
    background-image: url(../img/x12.jpg.pagespeed.ic.xxtlPIASfi.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 200px;
} 

section.first::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #2c455d;
    background: linear-gradient(to right,#2c455d,#00012c);
    opacity: .85;
}

div.service-text {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.service-text h2 {
    font-size: 40px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

                                                /* SECTION - 2 */

div.all-second {
    padding: 0 15px;
    position: relative;
}

div.all-second div {
    padding: 30px 0px;
}

div.all-second div ul {
    display: flex;
}

div.all-second div ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

div.all-second div ul li:last-child {
    padding-left: 8px;
}

div.all-second div ul li:last-child i {
    padding-right: 8px;
}

div.all-second div ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 500;
    transition-duration: 500ms;
}

div.all-second div ul li a:hover {
    color: #00aeef;
}

div.all-second div ul li i {
    font-size: 11px;
}

div.all-second div ul li:last-child {
    color: #707070; 
}

                                                /* SECTION - 3 */

section.tird {
    display: block;
    margin: 50px 0px;
}

div.all-stt-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div. div {
    width: calc(33%);
    max-width: 370px;
    padding: 0 15px;
    position: relative;
    margin-bottom: 50px;
}

div.all-stt-boxs div div {
    position: relative;
    z-index: 1;
    transition-duration: 500ms;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

div.all-stt-boxs div div img {
    position: absolute;
    max-height: 35px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.all-stt-boxs div:hover div.i-img {
    box-shadow: 0 2px 50px 0 rgb(0 0 0 / 15%);
}

div.all-stt-boxs div h5 {
    margin-bottom: 15px;
    color: #333;
    line-height: 1.4;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

div.all-stt-boxs div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 26.6px;
    margin-bottom: 16px;
    text-align: center;
    color: #707070;
}

                                                /* Section - 4 */

section.for {
    padding: 100px 0px;
}

section.for::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}

div.dentist {
    padding: 0 15px;
}

div.swiper-slide div {
    display: flex;
    justify-content: start;
    align-items: start;
}

div.swiper-slide div h5 {
    text-align: start;
}

div.swiper-slide div div.dentist-img {
    max-width: 180px;
    width: 180px;
    margin-right: 30px;
}

div.swiper-slide div div.dentist-img:active {
    cursor: pointer;
}

div.swiper-slide div div.dentist-img img {
    border: 1px solid transparent;
    border-radius: 50%;
}

div.swiper-slide div div.about-dentist {
    position: relative;
    z-index: 1;
}

div.about-dentist  {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
}

div.about-dentist:active {
    cursor: pointer;
}

div.swiper{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

div.swiper-wrapper {
    transform: translate3d(-2220px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 7770px;
}

div.about-dentist h5 {
    font-size: 17.5px;
    font-weight: 400;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 15px;
    color: #fff;
}

div.about-dentist h6 {
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 8px;
}

div.about-dentist p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 0;
    color: #fff;
}

div.for-bgimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -100;
    max-height: 380px;
}

section.for {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://preview.colorlib.com/theme/dento/img/bg-img/x7.jpg.pagespeed.ic.WWYqzyT8wB.webp);
    position: relative;
}


section.for::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}

                                                /* Section - 5 */

section.last {
    padding-top: 100px;
}

div.sl-title {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
    margin-bottom: 50px;
}

div.sl-title h2 {
    color: #333333;
    line-height: 1.4;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-style: 36px;
}

div.sl-title div.line {
    margin: 0 auto;
    width: 70px;
    height: 4px;
    background-color: #00aeef;
}

div.l-section-boxs {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.l-section-boxs div.box {
    width: 100%;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    margin-bottom: 100px;
}

div.l-section-boxs div.box a img {
    max-width: 350px;
}

div.box div.ls-text {
    padding: 30px;
    background-color: #fff;
    text-align: start;
}

div.ls-text a#link-title:hover {
    color: #00aeef;
}

div.box div.ls-text a.a-title {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    color: #000;
    transition: .5s all;
}

div.box div.ls-text p {
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.9;
    color: #707070;
    font-size: 14px;
}

div.ls-text div a {
    display: inline-block;
    color: #b7b7b7;
    font-size: 14px;
    transition: .3s all;
}

div.ls-text div a:first-child {
    margin-right: 15px;
}

div.ls-text div a i {
    color: #00aeef;
}

div.ls-text a:hover {
    color: #00aeef;
}

div.all-stt-boxs div {
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

                                                /* Footer */

footer.footer {
    background-image: url(../img/x3.jpg.pagespeed.ic.LFIUg5Bby5.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

footer.footer::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}

div.footer-body {
    display: flex;
}

div.footer-box1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    max-width: 380px;
    z-index: 1;
    margin-bottom: 100px;
    text-align: start;
}

div.footer-box1 a {
    font-size: 14px;
    margin-bottom: 24px;
    transition-duration: .5s all;
    display: block;
}

div.footer-box1 p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

div.footer-box1 div.number-icon {
    position: relative;
    z-index: 1;
}

div.footer-box1 div.number-icon p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.6px;
    margin-bottom: 5px;
}

div.footer-box1 div.number-icon p i {
    display: inline-block;
    margin-right: 5px;
    color: #00aeef;
}

div.footer-box2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 100px;
    text-align: left;
}

div.footer-box2 h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block;
}

div.footer-box2 {
    max-width: 253px;
    width: 100%;
}

div.footer-box2 div ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 17px;
    font-size: 14px;
}

div.footer-box3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 100px;
    max-width: 223px;
    width: 100%;
    text-align: start;
}

div.footer-box3 h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block;
}

div.footer-box3 {
    
}

div.footer-box3 div {
    text-align: left;
}

div.footer-box3 div nav {
    display: flex;
    justify-content: space-between;
}

div.footer-box3 div nav ul li {
    max-width: 50%;
}

div.footer-box3 div nav ul li a {
    color: #fff;
    margin-bottom: 17px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 17px;
    transition: .5s all;
}

div.footer-box3 div nav ul li a:hover {
    color: #00aeef;
}

div.footer-box4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 100px;
    text-align: start;
    max-width: 253px;
}

div.footer-box4 div h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 25px;
    display: block;
}

div.footer-box4 div p {
    line-height: 1.9;
    color: #fff;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
}

div.form {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 25px;
}

div.form form {
    display: flex;
}

div.form form input {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    padding: 0 15px;
}

div.form form button {
    width: auto;
    padding: 0 15px;
    background-color: #00aeef;
    color: #ffffff;
    border: none;
    border-radius: 0 2px 2px 0;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transition-duration: 500ms;
}

div.form form button:hover {
    background-color: #000;
    color: #ffffff;
}

div.footer-links a {
    display: inline-block;
    color: #ffffff;
    margin-right: 20px;
    font-size: 14px;
}

div.footer-finished {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 20px 15px;
    position: relative;
    z-index: 1;
    border-top: 1px solid #576a7d;
    text-align: center;
}

div.footer-finished p {
    font-size: 12px;
    color: #b7b7b7;
    margin-bottom: 0;
}

div.footer-finished p a {
    color: #fff;
}

.footer-box {
    padding: 0 15px;
}

                                                /* Media's */

@media screen and ( max-width: 1200px) {
    div.l-section-boxs div.box {
        max-width: 319px;
    }
    
    div.l-section-boxs {
        align-items: stretch;
    }
    
    div.box div.ls-text a.a-title {
        font-size: 16px;
    }
    
    div.l-section-boxs div.box a img {
        max-width: 320px;
    }
}

@media screen and ( max-width: 992px) {
    div.container {
        max-width: 960px;
    }
    
    div.classy-menu {
        display: none;
    }
    
    div.all-stt-boxs div {
        width: calc(50%);
        max-width: 360px;
        margin-bottom: 0px;
    }
    
    div.l-section-boxs {
        flex-wrap: wrap;
    }
    
    .footer-body {
        flex-wrap: wrap;
    }
    
    .footer-body .footer-box {
        max-width: 100%!important;
        width: calc(50% - 15px);
    }
}
    

@media screen and ( max-width: 768px) {
    div.container {
        max-width: 720px;
    }
    
    div.prt-left span {
        display: none;
    }
    
    div.prt-left div a:last-child {
        margin-left: 15px;
    }
    
    div.prt-right {
        width: 100%;
    }
    
    div.prt-left {
        display: flex;
    }
    
    a.header-logo img {
        width: 90px;
    }
    
    div.all-stt-boxs div {
        max-width: 240px;
    }
    
    div.swiper-slide div {
        flex-direction: column;
    }
    
    div.dentist-img {
        margin-bottom: 50px;
    }
    
    div.dentist {
        padding: 0px;
    }
    
    div.l-section-boxs div.box {
        max-width: 510px;
    }
    
    div.l-section-boxs div.box a img {
        max-width: 510px;
        width: 100%;
    }
}

@media screen and ( max-width: 576px) {
    div.container {
        max-width: 540px;
    }
    
    div.prt-left {
        padding: 0px;
    }
    
    div.all-stt-boxs div {
        width: calc(100%);
        width: 100%;
        max-width: none;
        padding: 0px;
    }
    
    div.l-section-boxs div.box {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .footer-body {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .footer-body .footer-box {
        width: 100%;
    }
    
    .footer-box {
        padding: 0px;
    }
}









































